<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>"Exclusive
            Campaign Offers</title>
        <meta name="description" content>
        <meta name="keywords" content>

        <!-- Favicons -->
        <link href="assets/img/favicon.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css"
            rel="stylesheet">
        <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
            rel="stylesheet">
        <link href="assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="assets/vendor/glightbox/css/glightbox.min.css"
            rel="stylesheet">
        <link href="assets/vendor/swiper/swiper-bundle.min.css"
            rel="stylesheet">

        <!-- Main CSS File -->
        <link href="assets/css/main.css" rel="stylesheet">

        <!-- =======================================================
  * Template Name: "Exclusive Campaign Offers
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  ======================================================== -->
    </head>

    <body class="index-page">

        <header id="header" class="header fixed-top corporate-bg">

            <!-- <div class="topbar d-flex align-items-center">
        <div
          class="container d-flex justify-content-center justify-content-md-between">
          <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a
                href="mailto:contact@example.com">contact@example.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589
                55488 55</span></i>
          </div>
          <div class="social-links d-none d-md-flex align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>End Top Bar -->

            <div class="branding d-flex align-items-cente">

                <div
                    class="container position-relative d-flex align-items-center justify-content-between">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <!-- Uncomment the line below if you also wish to use an image logo -->
                        <img src="assets/img/main-logo.png" alt>
                    </a>

                    <nav id="navmenu" class="navmenu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li class="dropdown"><a href="#"><span>Menu</span>
                                    <i
                                        class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Menu</a></li>
                                    <li class="dropdown"><a href="#"><span>Deep
                                                Dropdown</span> <i
                                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                                        <ul>
                                            <li><a href="#">Deep Dropdown
                                                    1</a></li>
                                            <li><a href="#">Deep Dropdown
                                                    2</a></li>
                                            <li><a href="#">Deep Dropdown
                                                    3</a></li>
                                            <li><a href="#">Deep Dropdown
                                                    4</a></li>
                                            <li><a href="#">Deep Dropdown
                                                    5</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Dropdown 2</a></li>
                                    <li><a href="#">Dropdown 3</a></li>
                                    <li><a href="#">Dropdown 4</a></li>
                                </ul>
                            </li>

                        </ul>
                        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                    </nav>

                </div>

            </div>

        </header>

        <main class="main">

            <!-- Page Title -->

            <section class="breadcrumb-area breadcrumb-bg"
                data-background="assets/img/banner1.webp"
                style="background-image: url(&quot;assets/img/banner1.webp&quot;);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2>About Us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a
                                                href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active"
                                            aria-current="page">About Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- About Section -->
            <section id="about" class="about section ">
                <div class="sear_offer">
                    <form>
                        <label for="input">Search</label>
                        <input required pattern=".*\S.*" autocomplete="off"
                            type="text" class="input" id="input"
                            onkeyup="instantSearch()">
                        <span class="caret"></span>
                    </form>
                </div>

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h1>DINING OFFERS<br></h1>

                    <h5>ONLINE FOOD DELIVERY</h5>
                </div><!-- End Section Title -->

                <div class="container">

                    <div
                        class="row gy-4 justify-content-center text-center">

                        <!-- card -->

                        <div class="col-lg-3 item-offer_search"
                            data-aos="fade-up"
                            data-aos-delay="100">

                            <div class="card card_offer ">
                                <a href="https://www.foodpanda.com.bd/">
                                    <div class="dining_upper">
                                        <img src="assets/img/KFC.jpg" alt>
                                    </div>
                                    <div class="dining_lowar"><h3>20%
                                            SAVINGS</h3>
                                        <h2>Plums
                                            20% SAVINGS mahbub shahin</h2>
                                    </div>
                                </a>
                                <div
                                    class="dining_bottom"><a
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">View
                                        Details</a>

                                </div>
                            </div>

                        </div>
                        <!-- card end-->
                        <!-- card -->

                        <div class="col-lg-3 item-offer_search"
                            data-aos="fade-up"
                            data-aos-delay="100">

                            <div class="card card_offer">
                                <a href="https://www.foodpanda.com.bd/">
                                    <div class="dining_upper">
                                        <img src="assets/img/DOMINOS.jpg"
                                            alt>
                                    </div>
                                    <div class="dining_lowar"><h3>20%
                                            SAVINGS</h3>
                                        <h2>mengo</h2>
                                    </div>
                                </a>
                                <div
                                    class="dining_bottom"><a
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">View
                                        Details</a>

                                </div>
                            </div>

                        </div>
                        <!-- card end-->
                        <!-- card -->

                        <div class="col-lg-3 item-offer_search"
                            data-aos="fade-up"
                            data-aos-delay="100">

                            <div class="card card_offer">
                                <a href="https://www.foodpanda.com.bd/">
                                    <div class="dining_upper">
                                        <img src="assets/img/FOODPANDA.jpg"
                                            alt>
                                    </div>
                                    <div class="dining_lowar"><h3>20%
                                            SAVINGS</h3>
                                        <h2>apple</h2>
                                    </div>
                                </a>
                                <div
                                    class="dining_bottom"><a
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">View
                                        Details</a>

                                </div>
                            </div>

                        </div>
                        <!-- card end-->
                        <!-- card -->

                        <div class="col-lg-3 item-offer_search"
                            data-aos="fade-up"
                            data-aos-delay="100">

                            <div class="card card_offer">
                                <a href="https://www.foodpanda.com.bd/">
                                    <div class="dining_upper">
                                        <img src="assets/img/KFC.jpg" alt>
                                    </div>
                                    <div class="dining_lowar"><h3>20%
                                            SAVINGS</h3>
                                        <h2>KFC</h2>
                                    </div>
                                </a>
                                <div
                                    class="dining_bottom"><a
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">View
                                        Details</a>

                                </div>
                            </div>

                        </div>
                        <!-- card end-->
                        <!-- card -->

                        <div class="col-lg-3 item-offer_search"
                            data-aos="fade-up"
                            data-aos-delay="100">

                            <div class="card card_offer">
                                <a href="https://www.foodpanda.com.bd/">
                                    <div class="dining_upper">
                                        <img src="assets/img/KFC.jpg" alt>
                                    </div>
                                    <div class="dining_lowar"><h3>20%
                                            SAVINGS</h3>
                                        <h2>KFC</h2>
                                    </div>
                                </a>
                                <div
                                    class="dining_bottom"><a
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">View
                                        Details</a>

                                </div>
                            </div>

                        </div>
                        <!-- card end-->
                    </div>

                </section><!-- /About Section -->

            </main>

            <footer id="footer" class="footer accent-background">

                <div class="container copyright text-center ">
                    <div class="social-links d-flex"
                        style="justify-content: center;">
                        <a href><i class="bi bi-twitter-x"></i></a>
                        <a href><i class="bi bi-facebook"></i></a>
                        <a href><i class="bi bi-instagram"></i></a>
                        <a href><i class="bi bi-linkedin"></i></a>
                    </div>
                    <p class="pt-3">© <span>Copyright</span> 2025
                        Meghna Bank PLC.
                        All
                        rights
                        reserved.</p>

                </div>

            </footer>

            <!-- modal -->

            <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5"
                                id="exampleModalLabel">Modal
                                title</h1>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="button"
                                class="btn btn-primary">Save
                                changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- modal end -->

            <!-- Scroll Top -->
            <a href="#" id="scroll-top"
                class="scroll-top d-flex align-items-center justify-content-center"><i
                    class="bi bi-arrow-up-short"></i></a>

            <!-- Preloader -->
            <div id="preloader"></div>

            <!-- Vendor JS Files -->
            <script
                src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script
                src="assets/vendor/php-email-form/validate.js"></script>
            <script src="assets/vendor/aos/aos.js"></script>
            <script
                src="assets/vendor/glightbox/js/glightbox.min.js"></script>
            <script
                src="assets/vendor/swiper/swiper-bundle.min.js"></script>
            <script
                src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
            <script
                src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
            <script
                src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

            <!-- Main JS File -->
            <script src="assets/js/main.js"></script>
            <script src="assets/js/script.js"></script>

        </body>

    </html>